3rdparty/
deploy/orangepi3b/openwrt
deploy/*/results/
**/pbus/**
**__pycache__**
build-*/
build/
install-*/
install/
src/playground/
docs/project/
docs/r-messages/
docs/investigation/
tmp/

*.img
*.zip
*.tar
*.gz
*.qcow2
*.iso
.*
*.data
tags

